.header
{
    display:flex;
    justify-content: space-around;
}
.logo
{
    color: white;
    width: 100px;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.menu
{
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__item
{
    font-size:20px;
    color:greenyellow;
    text-decoration: none;
}
.button
{
    height: 2rem;
    background-color: silver;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    outline: none;
    border: none;
}